table{
    border: 1px;
}

table{
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
}
 td, th{
    border-top: 1px solid #ECF0F1;
    padding: 10px;
  }
  
  td{
    border-left: 1px solid #ECF0F1;
    border-right: 1px solid #ECF0F1;
  }
  
  th{
    background-color: #4ECDC4;
  }
  
  tr:nth-of-type(2n) td{
    background-color: lighten(#4ECDC4, 35%);
  }

 