html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-size: 20px;
    background-color: #EEE3CB;
    font-family: 'PT Sans', sans-serif;
}
.navbar{
    font-family: 'PT Sans', sans-serif;
    background-color: #D7C0AE;
    border: 1px #D7C0AE solid;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center; 

}

.navbar a{
    font-size: 30px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}
.navbar div{
    transition:.5s;
}
.navbar div:hover{
    transform: translateY(-5px);
}


h1{
    font-size: 75px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
}

h2{
    margin-top: 20px;
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.pictures{
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pictures div{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #967E76;
    transition: 2s ease-out;
}

.pictures1:hover{
    background-image: url("Profile.jpg");
    background-size: cover;
    transform: translateY(-80px);
    background-position: center bottom;
}

.pictures2:hover{
    background-image: url("Profile2.jpg");
    background-size: cover;
    transform: translateY(-80px);
    background-position: center bottom;
}

.pictures3:hover{
    background-image: url("Profile3.jpg");
    background-size: cover;
    transform: translateY(-80px);
    background-position: center bottom;
}

.projects{
    margin-top: 430px;
    background-color: #B7C4CF;
    height: 1100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assignment h3{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 600;
    transition: 1s;
}
.assignment h3:hover{
    transform: scale(1.2);
}
.assignment span{
    font-size: 30px;
    margin-bottom: 20px;
}

.assignment a{
    border: 5px solid black;
    padding: 12px;
    text-decoration: none;
    font-weight: 600;
    transition: 1s;
}

.assignment a:hover{
    transform: translateY(-10px);
}

.projects .assignment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


